VITE_SUPABASE_URL=https://vkrqhkedchmwviorhtwu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZrcnFoa2VkY2htd3Zpb3JodHd1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzNTczMjksImV4cCI6MjA4NzkzMzMyOX0.evUYlyrC03152ZJ5c-gQuQusJVXHptjLW2_LU4ksUkI
VITE_APP_URL=https://blockchain-new-zeta.vercel.app
